// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  border-color: #495464;
  padding: 30px;
  font: 20px Montserrat;
  text-align: center;
}


.btn {
  border:none;
  padding:10px;
  border-radius:8px;
  background: #bbbfca;
  font:13px Montserrat;
  color: #495464;
  text-decoration: none;
  border-color: #495464;
}
